
/***************************************************/

/***************************************************/
/* Template 3 */
#table_com_2 table,
#table_com_2 table.google-visualization-table-table,
#table_com_3 table,
#table_com_3 table.google-visualization-table-table,
#table_com_7 table,
#table_com_7 table.google-visualization-table-table,
#table_com_8 table,
#table_com_8 table.google-visualization-table-table,
#table_ssma_1 table,
#table_ssma_1 table.google-visualization-table-table,
#table_inforpod table,
#table_infoprod table.google-visualization-table-table,
#table_com_1 table,
#table_com_1 table.google-visualization-table-table,
#table_com_4 table,
#table_com_4 table.google-visualization-table-table,
#table_com_5 table,
#table_com_5 table.google-visualization-table-table,
#table_com_6 table,
#table_com_6 table.google-visualization-table-table,
#table_ssma_2 table,
#table_ssma_2 table.google-visualization-table-table
{
    font: 10px/14px Roboto,sans-serif;
    width: 100%;
    margin: 16px 0;
    border-spacing: 0;
    border-collapse: collapse;
    border: 0;
    border: 2px solid #FF6600; /* grosor y color de linea borde externo de tabla*/
}
#table_com_2 tr,
#table_com_2 table.google-visualization-table-table .google-visualization-table-tr-head,
#table_com_2 table.google-visualization-table-table .google-visualization-table-tr-even,
#table_com_2 table.google-visualization-table-table .google-visualization-table-tr-odd,
#table_com_3 tr,
#table_com_3 table.google-visualization-table-table .google-visualization-table-tr-head,
#table_com_3 table.google-visualization-table-table .google-visualization-table-tr-even,
#table_com_3 table.google-visualization-table-table .google-visualization-table-tr-odd,
#table_com_7 tr,
#table_com_7 table.google-visualization-table-table .google-visualization-table-tr-head,
#table_com_7 table.google-visualization-table-table .google-visualization-table-tr-even,
#table_com_7 table.google-visualization-table-table .google-visualization-table-tr-odd,
#table_com_8 tr,
#table_com_8 table.google-visualization-table-table .google-visualization-table-tr-head,
#table_com_8 table.google-visualization-table-table .google-visualization-table-tr-even,
#table_com_8 table.google-visualization-table-table .google-visualization-table-tr-odd,
#table_ssma_1 tr,
#table_ssma_1 table.google-visualization-table-table .google-visualization-table-tr-head,
#table_ssma_1 table.google-visualization-table-table .google-visualization-table-tr-even,
#table_ssma_1 table.google-visualization-table-table .google-visualization-table-tr-odd,
#table_infoprod tr,
#table_infoprod table.google-visualization-table-table .google-visualization-table-tr-head,
#table_infoprod table.google-visualization-table-table .google-visualization-table-tr-even,
#table_infoprod table.google-visualization-table-table .google-visualization-table-tr-odd,
#table_com_1 tr,
#table_com_1 table.google-visualization-table-table .google-visualization-table-tr-head,
#table_com_1 table.google-visualization-table-table .google-visualization-table-tr-even,
#table_com_1 table.google-visualization-table-table .google-visualization-table-tr-odd,

#table_com_4 tr,
#table_com_4 table.google-visualization-table-table .google-visualization-table-tr-head,
#table_com_4 table.google-visualization-table-table .google-visualization-table-tr-even,
#table_com_4 table.google-visualization-table-table .google-visualization-table-tr-odd,
#table_com_5 tr,
#table_com_5 table.google-visualization-table-table .google-visualization-table-tr-head,
#table_com_5 table.google-visualization-table-table .google-visualization-table-tr-even,
#table_com_5 table.google-visualization-table-table .google-visualization-table-tr-odd,
#table_ssma_2 tr,
#table_ssma_2 table.google-visualization-table-table .google-visualization-table-tr-head,
#table_ssma_2 table.google-visualization-table-table .google-visualization-table-tr-even,
#table_ssma_2 table.google-visualization-table-table .google-visualization-table-tr-odd
{
    border: 0;
    border-top-width: 1px; /* Grosor de linea de filas*/
    border-top-style: solid;
}



#table_ssma_1 table.google-visualization-table-table .google-visualization-table-th,
#table_ssma_1 table.google-visualization-table-table .google-visualization-table-td,
#table_ssma_2 table.google-visualization-table-table .google-visualization-table-th,
#table_ssma_2 table.google-visualization-table-table .google-visualization-table-td,
#table_com_1 table.google-visualization-table-table .google-visualization-table-th,
#table_com_1 table.google-visualization-table-table .google-visualization-table-td,
#table_com_2 table.google-visualization-table-table .google-visualization-table-th,
#table_com_2 table.google-visualization-table-table .google-visualization-table-td,
#table_com_3 table.google-visualization-table-table .google-visualization-table-th,
#table_com_3 table.google-visualization-table-table .google-visualization-table-td,
#table_com_7 table.google-visualization-table-table .google-visualization-table-th,
#table_com_7 table.google-visualization-table-table .google-visualization-table-td,
#table_com_8 table.google-visualization-table-table .google-visualization-table-th,
#table_com_8 table.google-visualization-table-table .google-visualization-table-td,

#table_com_4 table.google-visualization-table-table .google-visualization-table-th,
#table_com_4 table.google-visualization-table-table .google-visualization-table-td,

#table_com_5 table.google-visualization-table-table .google-visualization-table-th,
#table_com_5 table.google-visualization-table-table .google-visualization-table-td,
#table_com_6 table.google-visualization-table-table .google-visualization-table-th,
#table_com_6 table.google-visualization-table-table .google-visualization-table-td,
#table_infoprod table.google-visualization-table-table .google-visualization-table-th,
#table_infoprod table.google-visualization-table-table .google-visualization-table-td
{
    border: 0;
    background: 0;
}

#table_ssma_1 th,
#table_com_1 th,
#table_com_2 th,
#table_com_3 th,
#table_com_8 th,
#table_com_4 th,
#table_com_5 th,
#table_com_6 th,
#table_infoprod th,
#table_ssma_2 th
{
    font: 600 10px/14px Roboto,sans-serif;
    /*
    height: 48px;
    padding: 8px;
    */
    padding-bottom: 4px;
    /*vertical-align: middle;*/
    color: white; /* Texto de Cabecera */
}

#table_com_7 th
{
    font: 600 24px/28px Roboto,sans-serif;
    /*
    height: 48px;
    padding: 8px;
    */
    padding-bottom: 4px;
    /*vertical-align: middle;*/
    color: white; /* Texto de Cabecera */
}

#table_ssma_1 th b,
#table_ssma_1 th strong,
#table_ssma_1 td b,
#table_ssma_1 td strong,
#table_com_1 th b,
#table_com_1 th strong,
#table_com_1 td b,
#table_com_1 td strong,
#table_com_2 th b,
#table_com_2 th strong,
#table_com_2 td b,
#table_com_2 td strong,
#table_com_3 th b,
#table_com_3 th strong,
#table_com_3 td b,
#table_com_3 td strong,
#table_com_7 th b,
#table_com_7 th strong,
#table_com_7 td b,
#table_com_7 td strong,
#table_com_8 th b,
#table_com_8 th strong,
#table_com_8 td b,
#table_com_8 td strong,
#table_com_4 th b,
#table_com_4 th strong,
#table_com_4 td b,
#table_com_4 td strong,
#table_com_5 th b,
#table_com_5 th strong,
#table_com_5 td b,
#table_com_5 td strong,
#table_com_6 th b,
#table_com_6 th strong,
#table_com_6 td b,
#table_com_6 td strong,
#table_infoprod th b,
#table_infoprod th strong,
#table_infoprod td b,
#table_infoprod td strong,
#table_ssma_2 th b,
#table_ssma_2 th strong,
#table_ssma_2 td b,
#table_ssma_2 td strong
{
    font-weight: 500;
}

#table_ssma_1 td,
#table_ssma_1 table.google-visualization-table-table .google-visualization-table-td,
#table_com_1 td,
#table_com_1 table.google-visualization-table-table .google-visualization-table-td,
#table_com_2 td,
#table_com_2 table.google-visualization-table-table .google-visualization-table-td,
#table_com_3 td,
#table_com_3 table.google-visualization-table-table .google-visualization-table-td,
#table_com_8 td,
#table_com_8 table.google-visualization-table-table .google-visualization-table-td,
#table_com_4 td,
#table_com_4 table.google-visualization-table-table .google-visualization-table-td,
#table_com_5 td,
#table_com_5 table.google-visualization-table-table .google-visualization-table-td,
#table_com_6 td,
#table_com_6 table.google-visualization-table-table .google-visualization-table-td,
#table_infoprod td,
#table_infoprod table.google-visualization-table-table .google-visualization-table-td,
#table_ssma_2 td,
#table_ssma_2 table.google-visualization-table-table .google-visualization-table-td
{
    /*padding: 7px 8px 8px;*/
    color: black; /* Texto de datos*/
    text-align: center;
    width: 90px;
}

#table_com_7 td,
#table_com_7 table.google-visualization-table-table .google-visualization-table-td
{
    /*padding: 7px 8px 8px;*/
    color: black; /* Texto de datos*/
    text-align: center;
    font-size: 24px;
    width: 90px;
    font-weight: bold;
}

#table_ssma_1 td,
#table_ssma_1 table.google-visualization-table-table .google-visualization-table-td,
#table_com_1 td,
#table_com_1 table.google-visualization-table-table .google-visualization-table-td,
#table_com_2 td,
#table_com_2 table.google-visualization-table-table .google-visualization-table-td,
#table_com_3 td,
#table_com_3 table.google-visualization-table-table .google-visualization-table-td,
#table_com_7 td,
#table_com_7 table.google-visualization-table-table .google-visualization-table-td,
#table_com_8 td,
#table_com_8 table.google-visualization-table-table .google-visualization-table-td,
#table_com_4 td,
#table_com_4 table.google-visualization-table-table .google-visualization-table-td,
#table_com_5 td,
#table_com_5 table.google-visualization-table-table .google-visualization-table-td,
#table_com_6 td,
#table_com_6 table.google-visualization-table-table .google-visualization-table-td,
#table_infoprod td,
#table_infoprod table.google-visualization-table-table .google-visualization-table-td,
#table_ssma_2 td,
#table_ssma_2 table.google-visualization-table-table .google-visualization-table-td
{
    /*vertical-align: top;*/
    table-layout: fixed;
    background: white; /* fondo filas (no cabecera)*/
    width: 90px;
}

#table_ssma_1 table.google-visualization-table-table .google-visualization-table-tr-head,
#table_ssma_1 table.google-visualization-table-table .google-visualization-table-tr-even,
#table_ssma_1 table.google-visualization-table-table .google-visualization-table-tr-odd,
#table_com_1 table.google-visualization-table-table .google-visualization-table-tr-head,
#table_com_1 table.google-visualization-table-table .google-visualization-table-tr-even,
#table_com_1 table.google-visualization-table-table .google-visualization-table-tr-odd,
#table_com_2 table.google-visualization-table-table .google-visualization-table-tr-head,
#table_com_2 table.google-visualization-table-table .google-visualization-table-tr-even,
#table_com_2 table.google-visualization-table-table .google-visualization-table-tr-odd,
#table_com_3 table.google-visualization-table-table .google-visualization-table-tr-head,
#table_com_3 table.google-visualization-table-table .google-visualization-table-tr-even,
#table_com_3 table.google-visualization-table-table .google-visualization-table-tr-odd,
#table_com_7 table.google-visualization-table-table .google-visualization-table-tr-head,
#table_com_7 table.google-visualization-table-table .google-visualization-table-tr-even,
#table_com_7 table.google-visualization-table-table .google-visualization-table-tr-odd,
#table_com_8 table.google-visualization-table-table .google-visualization-table-tr-head,
#table_com_8 table.google-visualization-table-table .google-visualization-table-tr-even,
#table_com_8 table.google-visualization-table-table .google-visualization-table-tr-odd,

#table_com_4 table.google-visualization-table-table .google-visualization-table-tr-head,
#table_com_4 table.google-visualization-table-table .google-visualization-table-tr-even,
#table_com_4 table.google-visualization-table-table .google-visualization-table-tr-odd,
#table_com_5 table.google-visualization-table-table .google-visualization-table-tr-head,
#table_com_5 table.google-visualization-table-table .google-visualization-table-tr-even,
#table_com_5 table.google-visualization-table-table .google-visualization-table-tr-odd,
#table_com_6 table.google-visualization-table-table .google-visualization-table-tr-head,
#table_com_6 table.google-visualization-table-table .google-visualization-table-tr-even,
#table_com_6 table.google-visualization-table-table .google-visualization-table-tr-odd,
#table_infoprod table.google-visualization-table-table .google-visualization-table-tr-head,
#table_infoprod table.google-visualization-table-table .google-visualization-table-tr-even,
#table_infoprod table.google-visualization-table-table .google-visualization-table-tr-odd,
#table_ssma_2 table.google-visualization-table-table .google-visualization-table-tr-head,
#table_ssma_2 table.google-visualization-table-table .google-visualization-table-tr-even,
#table_ssma_2 table.google-visualization-table-table .google-visualization-table-tr-odd
{
    border-top-color: #FF6600; /*color linea superior de fila*/
    background: #FF6600;
    text-align: center;
}

#table_ssma_1 .google-visualization-table-th,
#table_com_1 .google-visualization-table-th,
#table_com_2 .google-visualization-table-th,
#table_com_3 .google-visualization-table-th,
#table_com_7 .google-visualization-table-th,
#table_com_8 .google-visualization-table-th,
#table_com_4 .google-visualization-table-th,
#table_com_5 .google-visualization-table-th,
#table_com_6 .google-visualization-table-th,
#table_infoprod .google-visualization-table-th,
#table_ssma_2 .google-visualization-table-th
{
  padding-bottom: 0px;
}
/***************************************************/
