table[id*="AUTOGENBOOKMARK_1_"] {
    box-shadow: rgba(0,0,0,0.4) 0 4px 10px;
}
td[id*="datos_"] {
    border-radius: 20px;
    box-shadow: rgba(0,0,0,0.8) 1px 1px 10px;
    background-color: white;
}
#values_script{
  display: inline-block;
  margin: 0 auto;
}, #ssma_script{
  display: inline-block;
  margin: 0 auto;
}, #info_1_script{
  display: inline-block;
  margin: 0 auto;
}, #info_2_script{
  display: inline-block;
  margin: 0 auto;
}, #info_3_script{
  display: inline-block;
  margin: 0 auto;
}, #info_4_script{
  display: inline-block;
  margin: 0 auto;

}, #info_5_script{
  display: inline-block;
  margin: 0 auto;
}, #cpe_1_script{
  display: inline-block;
  margin: 0 auto;
}, #cpe_2_script{
  display: inline-block;
  margin: 0 auto;
}, #cpe_3_script{
  display: inline-block;
  margin: 0 auto;
}, #comen_script{
  display: inline-block;
  margin: 0 auto;
}, #rep_1_script{
  display: inline-block;
  margin: 0 auto;
}, #rep_2_script{
  display: inline-block;
  margin: 0 auto;
}, #rep_3_script{
  display: inline-block;
  margin: 0 auto;
}, #rep_4_script{
  display: inline-block;
  margin: 0 auto;
}, #nop_T1_script{
  display: inline-block;
  margin: 0 auto;
}, #nop_T2_script{
  display: inline-block;
  margin: 0 auto;
}, #nop_T3_script{
  display: inline-block;
  margin: 0 auto;
}, #nop_TOT_script{
  display: inline-block;
  margin: 0 auto;
}, #result_script {
    display: none;
}
